<div id = "mainBody">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://terrapinhackers.com/"><img src="/assets/th-logo.svg"/></a>
    <a class="navbar-brand" href="#">Projects</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <div *ngIf = "loggedIn === true">
                <li class="nav-item">
                    <a class="nav-link" href="dashboard">Dashboard</a>
                </li>
            </div>
            <div *ngIf ="loggedIn === true">

                <li class="nav-item">
                    <a class="nav-link" href="newproject">New Project</a>
                </li>
            </div>

            <div *ngIf = "loggedIn === false">

                <li class="nav-item">
                    <a class="nav-link" href="login">Login</a>
                </li>
            </div>
            <div *ngIf = "loggedIn === true">
                <li class="nav-item">
                    <a class="nav-link" href="logout">Logout</a>
                </li>
            </div>
        </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>


